.addBox{
  width: 520px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #043a56;
  margin-top: 77px;
  margin-left: 460px;
}

.annualAddress{
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 714px;
  top: 180px;
  line-height: 1.4;
}

.annualDate {
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 188px;
  top: 200px;
  display: inline-block;
}

.annualDetails{
  width: 560px;
  height: 49px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  position: relative;
  left:380px;
  top: 80px;
}

.annualWhen {
  width: 94px;
  height: 19px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: bold;
  color: #ba880b;
  position: relative;
  left:380px;
  top: 140px;
  display: inline-block;
}

.annualWhere {
  width: 94px;
  height: 19px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: bold;
  color: #ba880b;
  position: relative;
  left: 620px;
  top: 140px;
  display: inline-block;
}

.annualPlace {
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 222px;
  top: 198px;
  display: inline-block;
}

.annualTime{
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 378px;
  top: 220px;
  line-height: 1.2;
}

.backgroundLogo{
  width: 390px;
  height: 328.6px;
  display: inline-block;
  vertical-align: top;
  margin-top: 74px;
  float: right;
  position: absolute;
}

.backgroundLogo2{
  width: 390px;
  height: 328.6px;
  display: inline-block;
  vertical-align: top;
  margin-top: 74px;
  position: relative;
  margin-left: -100px;
}

.bigArrowRight {
  position: relative;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #043a56;
  top: 135px;
  left: 278px;
}

.bottomBar{
  width: 1440px;
  height: 9px;
  background: #043a56;
}

.bottomSearch{
  display: inline-block;
  float:right;
  margin-top: 25px;
  margin-right: 90px;
}

.directorBox{
  display: inline-block;
  vertical-align: top;
}

.directorImage{
  width: 260px;
  height: 412px;
  display: inline-block;
  margin-right: 36px;
  margin-left: 20px;
}

.directorQuote{
  width: 360px;
  height: 60px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.43;
  color: #043a56;
  text-align: left;
  position: relative;
  left: 120px;
  top: -35px;
}

.directorQuotes{
  width: 1px;
  height: 1px;
  font-family: Sail;
  font-size: 106px;
  font-weight: bold;
  text-align: left;
  color: #ba880b;
  margin-left: 52px;
  margin-top: 60px;
}

.directorReadMore{
  width: 134px;
  height: 43px;
  border: solid 2px #ba880b;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
  color: #ba880b;
  font-weight: bold;
  margin-top:8px;
  margin-left: 119px;
  font-family: Open Sans
}

.directorTitle {
  width: 320px;
  height: 98px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  margin-left: 36px;
  margin-top:61px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.1;
}

.Downloadproxybox{
  display: inline-block;
  width: 219px;
  height: 24px;
  margin-top: 41px;
  vertical-align: top;
  font-size: 18px;
  font-family: Open Sans;
  color: #043a56;
}

.executiveBox{
  display: inline-block;
  vertical-align: top;
}

.executiveReadMore{
  width: 134px;
  height: 43px;
  border: solid 2px #ba880b;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
  color: #ba880b;
  font-weight: bold;
  margin-left: 331px;
  margin-top: 119px;
  position: absolute;
  font-family: Open Sans;
}

.executiveImage{
  width: 240px;
  height: 436px;
  display: inline-block;
  margin-top: 53px;
  margin-right: 26px;
  margin-left: 14px;
}

.executiveTitle {
  width:520px;
  height: 98px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  margin-left: 250px;
  margin-top: 106px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  line-height: 1.1
}

.executiveQuote{
  width: 360px;
  height: 60px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.43;
  color: #043a56;
  text-align: left;
  margin-left: 330px;
  display: inline-block;
  position: absolute;
  margin-top: 220px;
  font-family: Open Sans;
}

.executiveQuotes{
  width: 1px;
  height: 1px;
  font-family: Sail;
  font-size: 106px;
  font-weight: bold;
  text-align: left;
  color: #ba880b;
  margin-left: 263px;
  display: inline-block;
  position: absolute;
  margin-top: 255px;
}

.graphHolder{
  width:86%;
  height:14.331%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 20px;
  align-items: center;
}

.infoArrow{
  position: absolute;
  border-right: 10px solid #ba880b;
  border-bottom: 10px solid #ba880b;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  top: 80px;
  right:40px;
}

.infoBox{
  width: 25.8%;
  height: 13.48%;
  display: inline-block;
  margin-top: 40px;
  margin-right: 4.7%;
  position: relative;
}

.infoBoxes{
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

.infoSmallText{
  position: absolute;
  width: 196;
  height: 28px;
  font-size: 21px;
  text-align: left;
  color: #ffffff;
  top: 84px;
  left:27px;
}

.line1 {
  width: 99px;
  height: 3px;
  background: white;
  position: relative;
  top:150px;
  left:250px;
}

.line2 {
  width: 1051px;
  height: 3px;
  background: #ededed;
  position: relative;
  top:-5px;
}

.line3 {
  width: 1051px;
  height: 3px;
  background: #ededed;
  position: relative;
  top:-5px;
  float:right;
}


.navLogo {
  width: 85px;
  height: 42px;
  margin-top: 24px;
  margin-bottom: 35px;
}

.navBar{
  position: fixed;
  top: 0;
  width: 100%;
  height:80px;
  z-index:1000;
  background: white;
}

.navBox {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  float:left;
  margin-left: 7%
}

.navBox2 {
  display: inline-block;
  background-color: #ffffff;
  height: 100%;
  width: 30%;
  float:right;
  text-align: right;
  margin-right: 6.9%
}


.navButton{
  display: inline-block;
  width: 160px;
  height: 40px;
  text-align: center;
  background: #c79226;
  line-height: 2.8;
  color: white;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
}

.navLink {
  font-size: 14px;
  margin-right: 40px;
  font-family: Open Sans;
  color: #043a56;
  background-color: #ffffff;
  display: inline-block;
}

.navLinks {
  display: inline-block;
  width:480px;
  height: 24;
  margin-top: 40px;
  margin-left: 76px;
  vertical-align: top;
  font-size: 18px;
  font-family: Open Sans;
  color: #043a56;
}

.navProxy{
  font-size: 10px;
  margin-top: 40px;
  margin-right: 30px;
  font-family: Open Sans;
  color: #043a56;
  background-color: #ffffff;
  display: inline-block;
}

.ourBoxes{
  display: table;
  margin-top: 20px;
  width: 100%;
  height: 300px;
  margin-left: 7%;
  margin-right: 7%;
}


.ourLargeBox{
  display: table-cell;
  width:43.055%;
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-right: 1%;
}


.ourLargeImage{
  height:100%;
  width:100%;
}


.ourLargeLearnMore{
  position: absolute;
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  text-align: center;
  bottom: 52px;
  left: 243px;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
}

.ourLearnMore{
  position: absolute;
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  text-align: center;
  bottom: 14%;
  left: 83px;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
}

.ourLearnMoreMid{
  position: absolute;
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  text-align: center;
  bottom: 14%;
  left: 243px;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
}

.ourSmallBox1{
  display: table-cell;
  width:20.5%;
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-right: 1%;
}

.ourSmallBox2{
  display: table-cell;
  width:20.5%;
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
  float:left;
}

.ourSmallImage{
  height:100%;
  width:100%;
}

.ourSmallText{
  position: absolute;
  width: 300px;
  height: 38px;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  bottom: 36%;
  font-family: Open Sans
}

.ourSmallTextMid{
  position: absolute;
  width: 300px;
  height: 38px;
  font-size: 28px;
  color: #ffffff;
  bottom: 36%;
  left: 26%;
}

.ovalLarge {
  position: relative;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  top: 187px;
  left: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ovalSmall {
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  bottom: 55%;
  left: 42%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ovalSmallMid {
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  bottom: 53%;
  left: 46%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.smallArrowRight {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 60%;
  left: 49%;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 18px solid #043a56;
}

.smallArrowRightMid {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 58%;
  left: 49.5%;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 18px solid #043a56;
}

.votingBack{
  width:1440px;
  height:763px;
  margin-top:108px;
  background-image: url("./Assets/vote.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.votingBoxes{
  position: relative;
  width: 100%;
}

.votingBox{
  display: inline-block;
  position: relative;
  text-align: left;
  color: white;
  bottom: 628px;
  left: 7%;
}

.votingButton{
  display: inline-block;
  width: 160px;
  height: 40px;
  position: relative;
  text-align: center;
  background: #c79226;
  bottom: 146px;
  line-height: 2.8;
  color: white;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
}

.votingCast{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 600px;
  bottom: 140px;
  margin-left: 270px;
  color: white;
  font-family: Open Sans;
  font-size: 36px;
}

.votingCheckbox1 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 3px #ffffff;
    display: inline-block;
    color: white;
    position: absolute;
    top: 30px;
}

.votingCheckbox2 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 3px #ffffff;
    display: inline-block;
    color: white;
    position: absolute;
    left: 430px;
    top: 30px;
}

.votingCheckbox3 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 3px #ffffff;
    display: inline-block;
    color: white;
    position: absolute;
    left: 860px;
    top: 30px;
}

.votingCheckmark1{
  color: #ffffff;
  position: relative;
  font-family: Open Sans;
  font-size: 30px;
  left:10px;
  top: 40px;
}

.votingCheckmark2{
  color: #ffffff;
  position: relative;
  font-family: Open Sans;
  font-size: 30px;
  left: 439px;
  top: 40px;
}

.votingCheckmark3{
  color: #ffffff;
  position: relative;
  font-family: Open Sans;
  font-size: 30px;
  left: 868px;
  top: 40px;
}

.votingItems{
  position: relative;
  width: 300px;
  height: 30px;
  font-family: Open Sans;
  font-size: 34px;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  bottom: 700px;
  left: 7%;
}

.votingLabel1{
  width: 399px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 120px;
  line-height: 1.2;
}

.votingLabel2{
  width: 300px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 120px;
  left: 430px;
  line-height: 1.2;
}

.votingLabel3{
  width: 300px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 120px;
  left: 860px;
  line-height: 1.2;
}

.votingRead1{
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.9;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 100px;
}

.votingRead2{
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.9;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 520px;
}

.votingRead3{
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.9;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 980px;
}


.votingText1{
  width: 380px;
  height: 147px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 240px;
}

.votingText2{
  width: 380px;
  height: 147px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 240px;
  left: 430px;
}

.votingText3{
  width: 380px;
  height: 147px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 240px;
  left: 860px;
}

.welcomeBox{
  text-align: center;
  margin-top: 105px;
  width: 100%;
  height:660px;
  color: white;
  background-image: url("./Assets/welcome.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.welcomeDelivering {
  position: relative;
  width: 556px;
  height: 124px;
  top: 160px;
  left: 248px;
  color: white;
  font-size: 46px;
  text-align: left;
  line-height: 1.5;
  font-family: Open Sans;
  font-weight: bold;
}

.welcomeProxy{
  width: 186px;
  height: 30px;
  font-family: Open Sans;
  font-size: 21px;
  line-height: 1.43;
  text-align: left;
  color: #ffffff;
  position: relative;
  top: 105px;
  left: 350px;
}

.welcomeText {
    position: relative;
    width: 371px;
    height: 30px;
    top: 141px;
    left: 248px;
    color: white;
    font-size: 21px;
    text-align: left;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
