.annualAddress{
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 714px;
  top: 190px;
  line-height: 1.4;
}

.addBox{
  width: 520px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #043a56;
  margin-top: 77px;
  margin-left: 460px;
}

.annualDate {
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 188px;
  top: 210px;
  display: inline-block;
}

.annualDetails{
  width: 560px;
  height: 49px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  position: relative;
  left:380px;
  top: 80px;
}

.annualWhen {
  width: 94px;
  height: 19px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: bold;
  color: #ba880b;
  position: relative;
  left:380px;
  top: 150px;
  display: inline-block;
}

.annualWhere {
  width: 94px;
  height: 19px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: bold;
  color: #ba880b;
  position: relative;
  left: 620px;
  top: 150px;
  display: inline-block;
}

.annualPlace {
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 222px;
  top: 208px;
  display: inline-block;
}

.annualTime{
  width: 303px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  text-align: left;
  color: #043a56;
  position: relative;
  left: 378px;
  top: 230px;
  line-height: 1.2;
}

.backgroundLogo{
  width: 390px;
  height: 328.6px;
  display: inline-block;
  vertical-align: top;
  margin-top: 74px;
  float: right;
  position: absolute;
}

.backgroundLogo2{
  width: 390px;
  height: 328.6px;
  display: inline;
  vertical-align: top;
  margin-top: 74px;
  float: left;
}

.bigArrowRight {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #043a56;
  top: 387px;
  left: 278px;
}

.bottomBar{
  width: 1440px;
  height: 9px;
  background: #043a56;
}

.bottomSearch{
  display: inline-block;
  float:right;
  margin-top: 25px;
  margin-right: 90px;
}

.directorImage{
  width: 260px;
  height: 412px;
  display: inline-block;
  margin-left: 52px;
  margin-right: 36px;
}

.directorQuote{
  width: 360px;
  height: 60px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.43;
  color: #043a56;
  text-align: left;
  position: relative;
  left: 120px;
  top: -35px;
}

.directorQuotes{
  width: 1px;
  height: 1px;
  font-family: Helvetica;
  font-size: 106px;
  font-weight: bold;
  text-align: left;
  color: #ba880b;
  margin-left: 52px;
  margin-top: 60px;
}

.directorReadMore{
  width: 134px;
  height: 43px;
  border: solid 2px #ba880b;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
  color: #ba880b;
  font-weight: bold;
  margin-top:8px;
  margin-left: 119px;
  font-family: Open Sans
}

.directorTitle {
  width: 320px;
  height: 98px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  margin-left: 36px;
  margin-top:61px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.1;
}

.Downloadproxybox{
  display: inline-block;
  width: 219px;
  height: 24px;
  margin-top: 41px;
  vertical-align: top;
  font-size: 18px;
  font-family: Open Sans;
  color: #043a56;
}

.executiveBox{
  display: inline-block;
  vertical-align: top;
}

.executiveReadMore{
  width: 134px;
  height: 43px;
  border: solid 2px #ba880b;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
  color: #ba880b;
  font-weight: bold;
  margin-left: 331px;
  margin-top: 119px;
  position: absolute;
  font-family: Open Sans;
}

.executiveImage{
  width: 240px;
  height: 436px;
  display: inline-block;
  margin-top: 53px;
  margin-right: 26px;
  margin-left: 14px;
}

.executiveTitle {
  width:520px;
  height: 98px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #043a56;
  margin-left: 250px;
  margin-top: 106px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  line-height: 1.1
}

.executiveQuote{
  width: 360px;
  height: 60px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.43;
  color: #043a56;
  text-align: left;
  margin-left: 330px;
  display: inline-block;
  position: absolute;
  margin-top: 220px;
  font-family: Open Sans;
}

.executiveQuotes{
  width: 1px;
  height: 1px;
  font-family: Helvetica;
  font-size: 106px;
  font-weight: bold;
  text-align: left;
  color: #ba880b;
  margin-left: 263px;
  display: inline-block;
  position: absolute;
  margin-top: 255px;
}

.infoArrow{
  position: absolute;
  border-right: 10px solid #ba880b;
  border-bottom: 10px solid #ba880b;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  top: 80px;
  right:40px;
}

.infoBox{
  width: 380px;
  height: 194.2px;
  background-color: #002c42;
  display: inline-block;
  margin-top: 50px;
  margin-right: 60px;
  position: relative;
}

.infoBoxes{
  display: inline-block;
  margin-top: 20px;
  margin-left: 85px;
}

.infoSmallText{
  position: absolute;
  width: 196;
  height: 28px;
  font-size: 21px;
  text-align: left;
  color: #ffffff;
  top: 84px;
  left:27px;
}

.line1 {
  width: 99px;
  height: 2px;
  background: white;
  position: absolute;
  top:198px;
  left:250px;
}

.line2 {
  width: 1051px;
  height: 3px;
  background: #ededed;
  position: relative;
  top:-5px;
}

.line3 {
  width: 1051px;
  height: 3px;
  background: #ededed;
  position: relative;
  top:-5px;
  float:right;
}


.logo {
  width: 85px;
  height: 42px;
  margin-top: 24px;
  margin-bottom: 35px;
  margin-left: 89px;
}

.navBox {
  width: 1440px;
  height: 101px;
  background-color: #ffffff;
  display: inline-block;
}

.navButton{
  display: inline-block;
  width: 160px;
  height: 40px;
  text-align: center;
  background: #c79226;
  line-height: 2.8;
  color: white;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top:32px;
}

.navLink {
  font-size: 14px;
  margin-right: 40px;
  font-family: Open Sans;
  color: #043a56;
}

.navLinks {
  display: inline-block;
  width: 620px;
  height: 24px;
  margin-top: 40px;
  margin-left: 76px;
  margin-right: 79px;
  vertical-align: top;
  font-size: 18px;
  font-family: Open Sans;
  color: #043a56;
}

.navProxy{
  width: 85px;
  height: 24px;
  margin-top: 43px;
  margin-right: 18px;
  font-family: Open Sans;
  font-size: 10px;
  text-align: left;
  vertical-align: top;
  color: #043a56;
  display: inline-block;
}

.ourBoxes{
  display: inline-block;
  margin-top: 20px;
  margin-left: 85px;
}


.ourLargeBox{
  display: inline-block;
  height:300px;
  width:620px;
  position: relative;
  text-align: center;
  color: white;
}

.ourLargeLearnMore{
  position: absolute;
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  text-align: center;
  bottom: 52px;
  left: 243px;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
}

.ourLearnMore{
  position: absolute;
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  text-align: center;
  bottom: 52px;
  left: 83px;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
}

.ourLearnMoreMid{
  position: absolute;
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  text-align: center;
  bottom: 52px;
  left: 243px;
  text-align: center;
  vertical-align:middle;
  line-height: 43px;
}


.ourLargeImage{
  height:300px;
  width:620px;
}

.ourSmallBox{
  display: inline-block;
  height:300px;
  width:300px;
  position: relative;
  text-align: center;
  color: white;
}

.ourSmallImage{
  height:300px;
  width:300px;
}

.ourSmallText{
  position: absolute;
  width: 300px;
  height: 38px;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  bottom: 115px;
  font-family: Open Sans
}

.ourSmallTextMid{
  position: absolute;
  width: 300px;
  height: 38px;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  bottom: 115px;
  left: 160px;
}

.ovalLarge {
  position: absolute;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  top: 365px;
  left: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ovalSmall {
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  bottom: 173px;
  left: 123px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ovalSmallMid {
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  bottom: 173px;
  left: 282px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.smallArrowRight {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 187px;
  left: 144px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 18px solid #043a56;
}

.smallArrowRightMid {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 187px;
  left: 303px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 18px solid #043a56;
}

.votingBoxes{
  display: inline-block;
}

.votingBox{
  display: inline-block;
  position: relative;
  text-align: left;
  color: white;
  bottom: 628px;
  right: 230px;
}

.votingButton{
  display: inline-block;
  width: 160px;
  height: 40px;
  position: relative;
  text-align: center;
  background: #c79226;
  bottom: 146px;
  line-height: 2.8;
  color: white;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
}

.votingCast{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 600px;
  bottom: 140px;
  margin-left: 270px;
  color: white;
  font-family: Open Sans;
  font-size: 36px;
}

.votingCheckbox1 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 3px #ffffff;
    display: inline-block;
    color: white;
    position: absolute;
    top: 30px;
}

.votingCheckbox2 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 3px #ffffff;
    display: inline-block;
    color: white;
    position: absolute;
    left: 430px;
    top: 30px;
}

.votingCheckbox3 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 3px #ffffff;
    display: inline-block;
    color: white;
    position: absolute;
    left: 860px;
    top: 30px;
}

.votingCheckmark1{
  color: #ffffff;
  position: relative;
  font-family: Open Sans;
  font-size: 30px;
  left:10px;
  top: 40px;
}

.votingCheckmark2{
  color: #ffffff;
  position: relative;
  font-family: Open Sans;
  font-size: 30px;
  left: 439px;
  top: 40px;
}

.votingCheckmark3{
  color: #ffffff;
  position: relative;
  font-family: Open Sans;
  font-size: 30px;
  left: 868px;
  top: 40px;
}

.votingItems{
  position: relative;
  width: 300px;
  height: 30px;
  font-family: Open Sans;
  font-size: 34px;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  bottom: 700px;
  left: 70px;
}

.votingLabel1{
  width: 399px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 120px;
  line-height: 1.2;
}

.votingLabel2{
  width: 300px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 120px;
  left: 430px;
  line-height: 1.2;
}

.votingLabel3{
  width: 300px;
  height: 46px;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 120px;
  left: 860px;
  line-height: 1.2;
}

.votingRead1{
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.9;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 100px;
}

.votingRead2{
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.9;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 520px;
}

.votingRead3{
  width: 134px;
  height: 43px;
  border: solid 2px #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.9;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 980px;
}


.votingText1{
  width: 380px;
  height: 147px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 240px;
}

.votingText2{
  width: 380px;
  height: 147px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 240px;
  left: 430px;
}

.votingText3{
  width: 380px;
  height: 147px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 240px;
  left: 860px;
}

.welcomeBox{
  position: relative;
  text-align: center;
  color: white;
}

.welcomeDelivering {
  position: absolute;
  width: 556px;
  height: 124px;
  top: 210px;
  left: 248px;
  color: white;
  font-size: 46px;
  text-align: left;
  line-height: 1.5;
  font-family: Open Sans;
  font-weight: bold;
}

.welcomeImg{
  width: 1439px;
  height: 660px;
  opacity: .95
}

.welcomeText {
    position: absolute;
    width: 371px;
    height: 30px;
    top: 150px;
    left: 248px;
    color: white;
    font-size: 21px;
    text-align: left;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
